<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Html.Raw(ViewBag.MetaInfo)
    <environment include="Development">
        <link rel="stylesheet" href="~/Content/bootstrap.css" />

        <link rel="stylesheet" href="~/Content/ShowBox.css" />

        <link rel="stylesheet" href="~/Content/Site.css" />
        <link href="~/Content/font-awesome.css" rel="stylesheet" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/Content/bootstrap.css" />

        <link rel="stylesheet" href="~/Content/ShowBox.css" />

        <link rel="stylesheet" href="~/Content/Site.css" />
        <link href="~/Content/font-awesome.css" rel="stylesheet" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="fontiran.com:license" content="CNPZ83">
        <meta name="google-site-verification" content="_OguvZ_lKhuo_7i3b_OAQWqZZL2i-3x1uSD6tRGKtaM" />
        <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0" />

        <webopt:BundleReference runat="server" Path="~/Content/css" />
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131432098-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-131432098-1');


            function ShowViewer(url) {

                window.location = url;
            }

        </script>
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">صفحه اصلی</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Tracks">تک آهنگ</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Albums">آلبوم</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Movies">فیلم</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Series">سریال</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Artists">هنرمندان</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <div class="row">
            <div class=" col-md-12 col-lg-12 col-sm-12 col-xs-12 Banners">
                <img src="~/Content/Images/Banners/1260-181_Hamgonah_02.jpg" />
                <img src="~/Content/Images/Banners/AzinHead.jpg" />
                <img src="~/Content/Images/Banners/Del-16-head.jpg" />
                <img src="~/Content/Images/Banners/motreb-Hede.jpg" />
            </div>
        </div>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Mamedia</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
